.content-desc > h2 {
  font-weight: 700;
  font-size: 30px;
  color: #bf9a5d;
  margin-bottom: 0.5em!important;
  text-align: center;
}
.content-desc {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.content-desc > p {
  color: #fff;
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-align: center;
}
.main-container .col-lg-12 {
  margin-bottom: 40px;
}
.content-desc .aboutus p {
  color: #fff1d3;
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-align: justify;
  margin-bottom: 1.25em;
}
.error {
  background-image: url(../img/error/error.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 245px;
  text-align: center;
  margin-top: 45px;
  padding: 30px;
}
.error p {
  margin-top: 3%;
  font-size: 18px;
  padding: 15px;
}
