.content-desc > h2 {
  font-weight: 700;
  font-size: 30px;
  color: #bf9a5d;
  margin-bottom: 0.5em!important;
  text-align: center;
}
.content-desc {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.content-desc > p {
  color: #fff;
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-align: center;
}
.main-container .col-lg-12 {
  margin-bottom: 40px;
}
.content-desc .aboutus p {
  color: #fff1d3;
}
