/* remo-style.css */

.form-control
{
    color: none;
}

.remo-hidden-overflow-x
{
    overflow-x: hidden !important;
}

.remo-color-fff1d3{
  color: #fff1d3
}

.content-title h2
{
    font-size: 1em;
    line-height: 25px;

    text-align: center;
    letter-spacing: 2px;

    color: #fff1d3;
}

.remo-content-title h1
{
    margin: 30px 0 20px 0;
}

.remo-contactus
{
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;

    background-image: url('../img/contactus/contact_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.remo-contactus h1
{
    margin: 30px 0;
}

.remo-contactus-list ul
{
    margin: 0;
    padding: 0;
}

.remo-contactus-list ul li
{
    margin-bottom: 10px;

    list-style: none;
    list-style-image: none;

    text-align: left;
}

.remo-contactus-list ul li a
{
    font-size: 14px;

    letter-spacing: .3px;

    color: #fff1d3;
}

.remo-contactus-list img
{
    width: 12px;
    margin-right: 8px;
}

.remo-contactus-youko
{
    width: 30px !important;
}

textarea
{
    resize: none;
}

.remo-captcha img
{
    height: 35px;
}

.remo-form input,
.remo-form textarea, .remo-activities-form input
{
    font-size: .875em;
    font-weight: 400;
    line-height: 1.5;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2em;
    padding: 18px 0;

    transition: outline .3s;
    text-indent: 10px;

    color: #c4c4c4;
    border: 1px solid #333;
    border-radius: 0;
    outline: 1px solid #1a1a1a;
    outline-offset: 0;
    background-color: #333;
    ;
}

.remo-form input:focus,
.remo-form textarea:focus, .remo-activities-form select:focus, .remo-activities-form input:focus
{
    transition: border .3s;

    border: solid 1px #fff;
    box-shadow: none;
}

.remo-submit
{
    font-size: 15px;
    font-weight: 600;

    margin-bottom: 20px;
    padding: 10px 20px;

    letter-spacing: .5px;

    color: #1a1a1a;
    border: solid 1px #fff1d3;
    border-radius: 0;
    background: #fff1d3;
    text-shadow: none;
}

.remo-reset
{
    font-size: 15px;
    font-weight: 400;

    margin-bottom: 20px;
    padding: 10px 20px;

    transition: border .3s;
    letter-spacing: .5px;

    color: #fff;
    border: 1px solid #333;
    border-radius: 0;
    background: #1a1a1a;
    text-shadow: none;
}

.remo-submit i,
.remo-reset i
{
    font-size: 15px;
    font-weight: lighter;
}

.remo-submit:hover
{
    font-weight: 400;

    transition: background .3s;

    color: #fff1d3;
    background: none;
}

.remo-submit i:hover,
.remo-reset i
{
    font-weight: 400;
}

.remo-reset:hover
{
    color: #fff;
    border: 1px solid #fff;
    background: #1a1a1a;
}

.remo-form label
{
    font-weight: 400;

    margin-bottom: 10px;

    letter-spacing: 1px;
}

.remo-forget p
{
    margin-bottom: 15px;

    text-align: center;
}

.remo-login-title
{
    font-size: 18px;

    margin-bottom: 25px;

    text-align: center;
    letter-spacing: 1px;
}

.remo-forget-title
{
    font-size: 18px;

    text-align: center;

    color: #fff1d3;
}

.remo-form-footer
{
    margin: 10px 0 20px;

    text-align: center;
}

.remo-form-footer h3,
.remo-form-footer h4
{
    margin: 5px 0;

    letter-spacing: .5px;
}

.remo-form-footer h4 a
{
    font-size: 15px;

    text-decoration: underline;

    color: #c4c4c4;
}

.remo-form-footer h3
{
    font-size: 15px;

    color: #c4c4c4;
}

.remo-form-footer h3 a
{
    font-weight: 700;

    text-decoration: underline;

    color: #fff1d3;
}

.remo-form-footer a:hover
{
    text-decoration: none;
}

.remo-registration
{
    margin: 30px 0;
    padding: 0 20px;

    border: 1px solid #777;
}

.remo-registration .row:nth-child(2)
{
    padding: 20px 0 0;
}


.remo-registration .row:nth-child(3)
{
    padding: 20px 0 0;
}

.remo-registration .row:nth-child(4)
{
    padding: 5px 0 20px;
}

.remo-registration .row:nth-child(5)
{
    padding: 5px 0;
}

.remo-registration .row:nth-child(6)
{
    padding: 5px 0;
}

.remo-registration .row:nth-child(7)
{
    padding: 5px 0;
}

.remo-first-form-group
{
    z-index: 99999;

    margin-bottom: 10px;

    border-bottom: solid 1px #777;
}

.remo-registration select, .remo-activities-form select
{
            appearance: none;
       -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

.remo-registration select, .remo-activities-form select
{
    height: 40px;

    color: #c4c4c4;
    border: solid 1px #333;
    border-radius: 0;
    background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABGCAQAAADBG8qBAAAAkUlEQVR4Ae3O0QmEQBAE0Q3B0AzBYCcAM1qPzmCo4RCsLujvt7L960UTJUrUN1GiRIkSJUqUKFGiRIkSJaru2q2uWp1ybdQRFicxFGCFxFGMBUgA1WCFxFGMBUgA1WCFxFGMBUgA1WCFNI8irJDmUYQV0jyKsEKaRxHWCSgA9beJEiVKlChRokSJEiVKlChRoh4GlelzLr6YJwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: 27% 100%;;
}

.remo-registration select:focus
{
    border: solid 1px #fff;
}

.remo-registration select option
{
    color: #c4c4c4;
    background: #fff;
}

.remo-first-form-group .text-left,
.remo-first-form-group .text-right
{
    padding: 0;
}

.remo-first-form-group .radio
{
    margin: 10px 0 0;
}

.remo-first-form-group label
{
    margin-bottom: -3px;
}

.remo-registration-title
{
    font-size: 15px;

    margin: 3px 0;

    text-align: center;
}

.remo-registration .form-group
{
    margin-bottom: 0;
}

.remo-radio-span
{
    display: inline-block;
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -5px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAA3klEQVRIx+3WTRHDIBAF4EiIhEpg5hmIBCREAhKQgIRIQEIkIAEJONgemqY5ZPnZcmhn2Hf/hh3CbqZp1L8VFBx20JkIjxWzDFsQLtQ1CbYRxQzPYB9UtzSaCtwrri9HIGw1zdZzBIIpgb6JIxBU/mapOXsODAKQsPDXQaJwVwMnBIkDdynINC3muI/nC9AO8ACjGNS93vE7j3twFXKh1+gqjzBYAZcy+0V0xvyIhe44DQUzJ1atU2zVnKpdpKam2aZlD5Wdjqm47ZiVddd8gBH+3ZysgT2imUc26pfrCYbpSAbqfwojAAAAAElFTkSuQmCC);
    background-position: left;
    background-size: 100% 100%;
}

.remo-radio
{
    position: absolute;
    left: -999px;

    display: inline-block;

    width: auto !important;
    height: 15px;
}

.remo-radio:checked + span
{
    display: inline-block;
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -5px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABLElEQVRIx+2WvW3DMBCFPYJHyAgC3gJcIIBadx6BgBbgAgHUqnPlWiNoBLXuVKkWoAFeCgeKSJHUnZAiCfyuPXzA4/3xdHrprwkFanTgEgNaXHE+BjPoV6h1THBKKM5oE7BvaKkxOu3gnlH/LI4gbhKzchxB2D1gq8IRRJGvbJD+zjtHPjWyodkCuxwwaBTHmb5mVlukSZcjwMVVSUuD2jc7J4DzxngKuB4y3plWIzPtJ40Z4EPWPH5SXgHQ/Qug6g0TwGGd1GSAHyGwFMyxUfQh3uLAq59WJYCXENeLV1cVmeWLZoXBhcmGDR9LKaLbZsrcF/V63V+xKJW4bv8I1ArcIDqnuIlxhfSQWolZ1bFH4W/HTWXtsc9IzHwPe/B3s2At3FeUiSF76TfrE1KJ2Vwh/3jLAAAAAElFTkSuQmCC);
    background-position: left;
    background-size: 100% 100%;
}

.remo-radio-span2
{
    display: inline-block;
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -5px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAA3klEQVRIx+3WTRHDIBAF4EiIhEpg5hmIBCREAhKQgIRIQEIkIAEJONgemqY5ZPnZcmhn2Hf/hh3CbqZp1L8VFBx20JkIjxWzDFsQLtQ1CbYRxQzPYB9UtzSaCtwrri9HIGw1zdZzBIIpgb6JIxBU/mapOXsODAKQsPDXQaJwVwMnBIkDdynINC3muI/nC9AO8ACjGNS93vE7j3twFXKh1+gqjzBYAZcy+0V0xvyIhe44DQUzJ1atU2zVnKpdpKam2aZlD5Wdjqm47ZiVddd8gBH+3ZysgT2imUc26pfrCYbpSAbqfwojAAAAAElFTkSuQmCC);
    background-position: left;
    background-size: 100% 100%;
}


.radio label
{
    padding-left: 0;
}

#secondradiobutton
{
    display: none;
}

.radio-inline-no-radio
{
    padding-left: 0;
}

.remo-checkbox
{
    position: absolute;
    left: -999px;

    width: auto !important;
    margin-left: 20px;
}

.remo-checkbox-span
{
    position: absolute;
    top: 1px;
    left: 0;

    display: inline-block;
    float: left;

    width: 20px;
    height: 20px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAAOUlEQVRIx+3MMREAMAgEQSwxBP9uEPAGwMR3udl+IydlNPHWK0q1RiIkJCQkJCQkJCT8PWz1GvnDA04Hc2Z5I0XhAAAAAElFTkSuQmCC);
    background-position: left;
    background-size: 100% 100%;
}

.remo-checkbox:checked + span
{
    display: inline-block;

    width: 20px;
    height: 20px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABgElEQVR4Ae3VMWsUQRgG4GtsPDeKdwcmFxLjcWJykjt3ZsdYCP4CLYII4l/QQmJnYWUjiMTGRisLKwXtbSxELfwBgqCQ1LKFIdUjiAiixcbdRjneaot9Zhg+3q8VyqDBlK1UJg2mbP6GU/A/AnN5k2BhyRGrimbApOuGTSOTJsCkL7eLB7ryumC0ouMNdl10tP4NC213wHVZ/TdMOi6AFzJjsR5YGFjyCVuGjimqjU00/tPZoonMM7CuI1Wbw2hiYNHybz8UMlfBprYoVANPWfDIc30LTv/yenPWfMVbXcvVwXmXwUvH9STx57D0vMOOM/qSUBUcCR6CD846KP4g2+6BazJJqA4mJ2Rugi8uOWBszWHr4On37z22TWFV2xU7YENm1tAWPhsYKPZeX1Ew45yP4L59noDzOtLf9mHSteIVeA/u2i/WKdhk3qzHgNe6RvXAIBk65DYI+lL9FVA4acYtG3pSMzslCuYsSk0uqVz+j63RKTgFNZtW2A5lg9n+BpInokg+LjCJAAAAAElFTkSuQmCC);
    background-position: left;
    background-size: 100% 100%;
}

.remo-at-email::before
{
    position: absolute;
    top: 37px;
    left: -7px;

    content: '@';
}

.visibility-none
{
    visibility: hidden;
}

@-moz-document url-prefix()
{
    .remo-form input
    {
        padding: 0 !important;
    }
}

.remo-dtab
{
    border-bottom: none;
}

.remo-dtab li
{
    width: 33.33%;
    margin-left: -1px;

    text-align: center;
}

.remo-dtab li
{
    margin-left: -3px;

    border-radius: 0;
}

.remo-dtab li a
{
    color: #fff1d3;
    border: solid 1px #333;
    border-radius: 0;
}

.remo-dtab > li > a:hover
{
    color: #fff1d3;
    border: none;
    border: solid 1px #333;
    border-bottom: solid 2px #fff1d3;
    border-bottom: none;
    border-bottom: 2px solid #fff1d3;
}

.remo-dtab > li.active > a,
.remo-dtab > li.active > a:focus,
.remo-dtab > li.active > a:hover
{
    color: #fff1d3;
    border: solid 1px #333;
    border-bottom: none;
    border-bottom: 2px solid #fff1d3;
    border-bottom-color: transparent;
    background-color: transparent;
}

.remo-dtab > li.active > a:hover
{
    border: solid 1px #333;
    border-bottom: none;
    border-bottom: 2px solid #fff1d3;
    border-bottom-color: transparent;
    background-color: transparent;
}

.remo-sitemap-content
{
    margin: 0 11px 0 -3px;
    padding: 30px 15px;

    border: solid 1px #333;
    border-top: none;
}

.remo-mtab
{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.remo-mtab li
{
    list-style: none;
}
.remo-mtab li a
{
    display: block;

    color: #fff1d3;
}

.remo-mtab .active a
{
    text-decoration: none;
}

.remo-collapse-cross
{
    padding: 15px 0;

    border-top: 1px solid #333;
    background: url(../img/sitemap/cross.png) no-repeat;
    background-position: right;
    background-size: 5%;
}

.remo-mtab li:last-child
{
    border-bottom: solid 1px #333;
}

.remo-collapse-content
{
    margin-bottom: 15px;
}

.remo-collapse-line
{
    text-decoration: none;

    background: url(../img/sitemap/line.png) no-repeat;
    background-position: right;
    background-size: 5%;
}

.remo-mtab li a:active,
.remo-mtab li a:focus
{
    text-decoration: none;
}

.remo-activities-wrapper
{
    margin-top: -10px;

    background: #000;
}

.remo-activities-head a
{
    display: block;

    margin-right: -60px;
    margin-bottom: 20px;

    text-align: right;
    letter-spacing: 1px;

    color: #c4c4c4;
}

.remo-activities-head a:hover
{
    transition: color .5s;
    text-decoration: none;

    color: #fff1d3;
}

.remo-activities-body h1
{
    font-size: 20px;

    text-align: center;

    color: #fff1d3;
}

.remo-activities-body p
{
    margin: 30px 0;
    padding-right: 50px;
}

.remo-activities-body a
{
    float: right;

    margin: 20px 0;
    padding: 10px 20px;

    letter-spacing: 1px;

    color: #fff;
    border: solid 1px #333;
}

.remo-activities-body-img-div
{
    position: relative;
}

.remo-activities-body img
{
    cursor: pointer;
}

.remo-activities-body img:first-child
{
    position: absolute;
    right: 20px;
    bottom: 10px;

    width: 21px;
    height: 20px;

    color: #fff;
}

.featherlight .featherlight-content
{
    padding: 0;

    background: none;
}

.remo-activities-form{
  margin: 20px 0 0
}

.mremo-activities-form{
  margin-bottom: 20px
}

.remo-activities-form input, .remo-activities-form select{
  border: solid 1px #333;
  background-color: transparent;
  background-size: 30% 100%;
}

.remo-activities-search i{
  position: absolute;
  top: 1px;
  right: 25px;
  color: #c4c4c4;
  font-size: 15px;
  font-weight: 400;
  border-left: solid 1px #333;
  padding-left: 10px;
  line-height: 36px
}

.remo-activities-list a{
  text-decoration: none;
  color: #fff;
}

.remo-activities-list h1{
  font-size: 15px;
}

.remo-activities-list a>h1:last-child{
  margin-top: 50px;
  color: #c4c4c4;
  border-bottom: solid 1px #333;
  padding-bottom: 20px;
}

.remo-activities-list-pager {
  text-align: center;
  padding: 25px 0;
}

.remo-activities-list-pager li{
  list-style: none;
  display: inline;
}

.remo-activities-list-pager li a{
  color: #333;
  font-weight: 700;
  margin: 0 5px
}

.remo-activities-list-pager li a:hover{
  color: #fff;
  transition: color .3s;
  text-decoration: none
}

.remo-activities-list-pager li .active{
  color: #fff
}
